:root {
    --font: "Raleway", sans-serif;

    --bg-color: #EDC2D3;
    --primary-color: #E4A2BC;
    --primary-color-hover: #E4A2BC99;
    --primary-color-alpha: #E4A2BC80;
    --primary-color-cc: #E4A2BCCC;

    --border-color: #96375C;
    --border-color-alpha: #96375C80;
    --heading-color: #96375CCC;

    --text-color: white;
}

* {
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 10vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    flex-direction: column;  /* stack elements vertically */
    text-align: center;
}

h1 {
    color: var(--heading-color);
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

.display {
    background-color: var(--primary-color-cc);
    border: 1.5px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 300px;
    transition: transform 0.2s, background-color 0.2s;
}

.display:hover {
    background-color: var(--primary-color);
    transform: scale(1.01);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

button {
    background-color: var(--primary-color-alpha);
    border: 1.5px solid var(--border-color-alpha);
    border-radius: 20px;
    color: var(--text-color);
    font-size: 1rem;
    outline: none;
    width: 75px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
}

button:hover {
    background-color: var(--primary-color-hover);
    transform: scale(1.05);
}

@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
    button {
        width: 100px;
    }
}